{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('les_livres') }}" class="button">Retour à la liste</a>

{% set couverture %}
  {% if livre.couverture is null %}
      <img class="th [radius]" src="{{ asset('/images/default_livre.jpg') | imagine_filter('livre_page_detail') }}" />
  {% else %}
      <img  class="th [radius]" src="{{ asset('/uploads/couvertures/' ~ livre.couverture) | imagine_filter('livre_page_detail') }}" />
  {% endif %}
{% endset %}

<div class="row">
  <div class="large-12 columns"><h1>{{ livre.titre }}</h1></div>
</div>

<div class="row">
  <div class="small-4 columns">{{ couverture }}</div>
  <div class="small-8 columns">{{ livre.description }}</div>
</div>

<hr/>

<div id="critiques-associees">
  <a id="voir-critiques" href="{{ path ( 'get_json_critiques_pour_livre', { slug: livre.slug } ) }}" class="button info">Voir les critiques</a>
</div>

  
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="/js/handlebars-v4.0.10.js"></script>

<script id="critiques-template" type="text/x-handlebars-template">
    {% verbatim %}
    <hr>
    <div>
        <div>Email : {{ email }}</div>
        <div>Note : {{ note }}</div>
        <div>Avis : {{ avis }}</div>
    </div>
    {% endverbatim %}
</script>

<script>
var raw_template = $('#critiques-template').html();
var template = Handlebars.compile(raw_template);
  
$( "#voir-critiques" ).click(function( event ) {
  event.preventDefault();
  $.getJSON($(this).attr('href'),function(data){
        $.each(data,function(index,element){
          var html = template(element);
          $('#critiques-associees').append(html);
        });
  });
  
});
</script>

{% endblock %}
