{% extends 'base.html.twig' %}

{% form_theme edit_form _self %}

{% block _critiques_entry_label %}
TEST
{% endblock %}

{% block body %}
    <h1>Livre edit</h1>

    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('livre_admin_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    
    {{ include('livre/_js_collection_critique.html.twig') }}
    
    
{% endblock %}
